# Nome do Workflow
name: CI - Python Application Quality Check

# Gatilhos (Triggers):
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout do Código
      - name: Check-out repository
        uses: actions/checkout@v4
        with:
          # (Importante para o SonarQube)
          # Faz o checkout completo do histórico, necessário para a análise de "blame"
          fetch-depth: 0

      # 2. Configurar o Ambiente Python
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # 3. Instalar Dependências
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Rodar os Testes (Gerando o relatório que o Sonar precisa)
      - name: Run Pytest and Generate Coverage
        run: |
          pytest --cov=src --cov-report=xml

    
      # -----------------------------------------------------
      - name: SonarCloud Scan
        # CORREÇÃO: Usando a tag da versão estáve
        uses: SonarSource/sonarcloud-github-action@v2.2.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Argumentos para o scanner do Sonar
          args: >
            -Dsonar.organization=Mossatto
            -Dsonar.projectKey=PortfolioAnalyzer
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.sources=src
            -Dsonar.tests=tests